/Choithram Netralaya Data
/Dargaville Clinic Data

/Choithram Netralaya Data*
/Dargaville Clinic Data*
/ODOCS RED REFLEX DATABASE
/custom models
env/
venv/
models/
custom_models/
__pycache__/
/Sowrabh/efficientnet_eye_model_20241215_011938.pth/